version: '1'

services:
  backend:
    build: ./backend
    container_name: marketplace-backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    depends_on:
      - mongo-db

  frontend:
    build: ./frontend
    container_name: marketplace-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend 

  mongo-db:
    image: mongo:latest
    container_name: marketplace-mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: